extends ./partials/_layout

block content
  h1 Box &amp; Pointer
  p Hello.
  p We are Box &amp; Pointer. We build tools to make every day life easier.
  ul.list-reset
    li.inline-block.mr2
      a(href='/projects') Projects
    //- li.inline-block.mr2
    //-   a(href='/writing') Writing
    li.inline-block.mr2
      a(href='https://github.com/boxandpointer' target='_blank') Code
    li.inline-block.mr2
      a(href='mailto:hello@boxandpointer.com') Contact
