extends ../partials/_layout

block content
  h1 Projects
  //- h2 For Fun
  //- p
  //-   <a href="//timer.surge.sh" target="_blank">Timer</a> (<a href="/soon" target="_blank">source</a>)
  p There's nothing here yet.
  p
    a(href='/') Go back
